body{
    margin: 0px;
    background-color: #000;
    color: #fff;
}
/* paddind */
.padr-4{
    padding-right: 4rem;
}
.padr-3{
    padding-right: 2rem;
}

/* Theme Color */
.theme-color{
    color: blueviolet;
}
.theme-bg{
    background-color: rgb(255, 255, 255);
}
.theme-black{
    color: rgb(0, 0, 0);
}
/* height */
.hv-5{
    height: 5vh;
}
.hv-10{
    height: 10vh;
}
.hv-20{
    height: 20vh;
}
.hv-80{
    height: 80vh;
}
.hv-90{
    height: 90vh;
}
.hv-100{
    height: 100vh;
}
/* width */
.wv-10{
    width: 10vw;
}
.wv-20{
    width: 20vw;
}
.wv-80{
    width: 80vw;
}
.wv-90{
    width: 90vw;
}
.wv-100{
    width: 100vw;
}
/* margin */
.m-1{
    margin: 1rem;
}
.mlr-1{
    margin-left: 1rem;
    margin-right: 1rem;
}
.mlr-10{
    margin-left: 10rem;
    margin-right: 10rem;
}
.mlr-20{
    margin-left: 20rem;
    margin-right: 20rem;
}
.mtb-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mt-1{
    margin-top: 1rem;
}

/* felx */
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-start{
    justify-content: start;
}
.justify-end{
    justify-content: end;
}
/* border */
.bd{
    border:2px solid #fff;
}