/* body {
    overflow-x: hidden;
} */
.char{
    transform: scale(0.99);
    text-decoration: none;
}
.char:hover{
    transform: translateY(-10px);

}
.cont {
    margin-top: -7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.69);
}

.txt {
display: flex;
justify-content: center;
transform: scale(1.9);
}
.siz{
    display: flex;
    justify-content: center;
    transform: scale(0.80);
}
.age {

    /* margin-top: -10rem; */
    display: flex;
    /* line-height: rem; */
    /* flex-direction: row; */
    justify-content: center;
    transform: scale(0.9);
    align-items: center;
    margin-top: -100px;
}

ul {
    display: flex;
    flex-direction: row;
}

.cat {

    display: flex;
    /* line-height: rem; */
    flex-direction: column;
    justify-content: center;
    transform: scale(0.88);
    align-items: center;
    margin-top: -100px;
}

ul {
    display: flex;
    flex-direction: row;
}

.bra {

    display: flex;
    /* line-height: rem; */
    flex-direction: column;
    justify-content: center;
    transform: scale(0.54);
    align-items: center;
    margin-top: -210px;
}

ul {
    display: flex;
    flex-direction: row;
}

.vid {
    display: flex;
    justify-content: center;
    transform: scale(2.1);
}

.foot {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 1px;
    padding: 5px 80px;
    background: #F00000; 
    background: -webkit-linear-gradient(to right, #DC281E, #F00000);  
    background: linear-gradient(to right, #DC281E, #F00000); 

    margin-bottom: 2rem;
}

/* cards */
.container {
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.li{
    text-decoration: none;

}
.grid {
    text-decoration: none;
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    display: flex;
    justify-content: center;
}

.grid>article {
    border-radius: 30px;
    width: 300px;
    background-color: red;
    text-align: center;
    box-shadow: 0 0 10px rgba(219, 71, 71, 0.2);
    transition: transform 0.3s;
}

.grid>article img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 300px;
    height: 350px;
}

.grid>article:hover {
    transform: translateY(-10px);
    box-shadow: 10px 5px 10px rgb(204, 131, 131);
}



@media (max-width:500px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

article {
    border-radius: 30px;
    width: 300px;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}